.fl
	display flex 

.fl-wrap 
	flex-wrap wrap

.fl-justify-st
	justify-content flex-start

.fl-justify-end
	justify-content flex-end

.fl-justify-a
	justify-content space-around

.fl-justify-b
	justify-content space-between

.fl-justify-c
	justify-content center

.fl-align-st
	align-items flex-start

.fl-align-end
	align-items flex-end

.fl-align-c
	align-items center

.fl-dir-col
	flex-direction column

.fl-dir-col-r
	flex-direction column-reverse

.fl-dir-row
	flex-direction row

.fl-dir-row-r
	flex-direction row-reverse

.fl-flow-row-wrap
	flex-flow row wrap
	
.fl-flow-row-nowrap
	flex-flow row nowrap

.fl-flow-row-r-wrap
	flex-flow row-reverse wrap

.fl-flow-row-r-nowrap
	flex-flow row-reverse nowrap

.fl-flow-col-wrap
	flex-flow column wrap

.fl-flow-col-nowrap
	flex-flow column nowrap

.fl-flow-col-r-wrap
	flex-flow column-reverse wrap

.fl-flow-col-r-nowrap
	flex-flow column-reverse nowrap