// Top Padding

.padding-t-0
	padding-top 0
	
.padding-t-5
	padding-top 5px

.padding-t-10
	padding-top 10px
	
.padding-t-15
	padding-top 15px
	
.padding-t-20
	padding-top 20px
	
.padding-t-25
	padding-top 25px
	
.padding-t-30
	padding-top 30px
	
.padding-t-35
	padding-top 35px
	
.padding-t-40
	padding-top 40px
	
.padding-t-45
	padding-top 45px
	
.padding-t-50
	padding-top 50px
	
.padding-t-55
	padding-top 55px
	
.padding-t-60
	padding-top 60px
	
.padding-t-65
	padding-top 65px
	
.padding-t-70
	padding-top 70px
	
// Bottom Padding

.padding-b-0
	padding-bottom 0
	
.padding-b-5
	padding-bottom 5px

.padding-b-10
	padding-bottom 10px
	
.padding-b-15
	padding-bottom 15px
	
.padding-b-20
	padding-bottom 20px
	
.padding-b-25
	padding-bottom 25px
	
.padding-b-30
	padding-bottom 30px
	
.padding-b-35
	padding-bottom 35px
	
.padding-b-40
	padding-bottom 40px
	
.padding-b-45
	padding-bottom 45px
	
.padding-b-50
	padding-bottom 50px
	
.padding-b-55
	padding-bottom 55px
	
.padding-b-60
	padding-bottom 60px
	
.padding-b-65
	padding-bottom 65px
	
.padding-b-70
	padding-bottom 70px


// Padding centered
	
.padding-0
	padding 0
	
.padding-c-5
	padding 0 5px

.padding-c-10
	padding 0 10px
	
.padding-c-15
	padding 0 15px
	
.padding-c-20
	padding 0 20px
	
.padding-c-25
	padding 0 25px
	
.padding-c-30
	padding 0 30px
	
.padding-c-35
	padding 0 35px
	
.padding-c-40
	padding 0 40px
	
.padding-c-45
	padding 0 45px
	
.padding-c-50
	padding 0 50px
	
.padding-c-55
	padding 0 55px
	
.padding-c-60
	padding 0 60px
	
.padding-c-65
	padding 0 65px
	
.padding-b-70
	padding 0 70px