 *
  box-sizing border-box

body
  line-height 1

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

nav ul, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

mark
    font-style normal
    font-weight 400
    text-transform uppercase

h1,h2,h3,h4,h5,h6
  font-weight normal

i
  font-style normal

del
  text-decoration line-through

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0

label
  cursor pointer

button
  border none
  background none
  outline none
  box-shadow none
