.turn-left
	text-align left
	
.turn-right
	text-align right
	
.turn-center
	text-align center
	
.turn-top
	vertical-align top
	
.turn-middle
	vertical-align middle
	
.turn-bottom
	vertical-align bottom